{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_list'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'title.photo_list'|trans }}</h1>
    {% include'photo/list.html.twig' %}
{% endblock %}